@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'font';
  src: url('./fonts/Sacramento-Regular.ttf');
}

.logo{
  font-family: 'font' ;
  font-size: 2.5rem;
  
}


